.container {
  /* From create-react-app */
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);

  /* App takes the full page */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  /* If page is too big */
  overflow-y: scroll;
}

.parent-component {
  background-color: hsl(310, 50%, 20%);
  padding: 10px;
}

.child-component {
  background-color: hsl(310, 90%, 20%);
  margin: 20px;
  padding: 10px;
}

button {
  font-size: 1em;
}
